html,
body,
#root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevent scroll on entire app */
}

body {
  font-family: 'Inter', sans-serif;
  background-color: #f9fafb;
  scroll-behavior: smooth;
}

